<template>
<td>
   <Piece :imageSRC=selectedPiece ></Piece>
</td>
</template>
<script>

import Piece from './Piece'
export default{
    name:"chessCell",
     components:{
      Piece
    },
    props:{
        positionx:0,
        positiony:0,
        message:""
    },
    data:function(){
      return {
        cells:["A","B","C","D","E","F","G","H"],
        DataPieces:[
          {id:1 , name:"Pawn" , imgName:"white_pawn.png" , positionx:"1" , positiony:"G" , owner:"player1"},
          {id:2 , name:"Pawn" , imgName:"white_pawn.png",positionx:"2" , positiony:"G" , owner:"player1"},
          {id:3 , name:"Pawn" , imgName:"white_pawn.png",positionx:"3" , positiony:"G", owner:"player1"},
          {id:4 , name:"Pawn" , imgName:"white_pawn.png",positionx:"4" , positiony:"G", owner:"player1"},
          {id:5 , name:"Pawn" , imgName:"white_pawn.png",positionx:"5" , positiony:"G", owner:"player1"},
          {id:6 , name:"Pawn" , imgName:"white_pawn.png",positionx:"6" , positiony:"G", owner:"player1"},
          {id:7 , name:"Pawn" , imgName:"white_pawn.png",positionx:"7" , positiony:"G", owner:"player1"},
          {id:8 , name:"Pawn" , imgName:"white_pawn.png",positionx:"8" , positiony:"G", owner:"player1"},
          {id:9 , name:"Pawn" , imgName:"black_pawn.png" , positionx:"1" , positiony:"B" , owner:"player2"},
          {id:10 , name:"Pawn" , imgName:"black_pawn.png",positionx:"2" , positiony:"B" , owner:"player2"},
          {id:11 , name:"Pawn" , imgName:"black_pawn.png",positionx:"3" , positiony:"B", owner:"player2"},
          {id:12 , name:"Pawn" , imgName:"black_pawn.png",positionx:"4" , positiony:"B", owner:"player2"},
          {id:13, name:"Pawn" , imgName:"black_pawn.png",positionx:"5" , positiony:"B", owner:"player2"},
          {id:14 , name:"Pawn" , imgName:"black_pawn.png",positionx:"6" , positiony:"B", owner:"player2"},
          {id:15 , name:"Pawn" , imgName:"black_pawn.png",positionx:"7" , positiony:"B", owner:"player2"},
          {id:16 , name:"Pawn" , imgName:"black_pawn.png",positionx:"8" , positiony:"B", owner:"player2"},
          {id:17 , name:"Rook" , imgName:"black_rook.png",positionx:"1" , positiony:"A", owner:"player2"},
          {id:18 , name:"Rook" , imgName:"black_rook.png",positionx:"8" , positiony:"A", owner:"player2"},
          {id:19 , name:"bishop" , imgName:"black_bishop.png",positionx:"3" , positiony:"A", owner:"player2"},
          {id:20 , name:"bishop" , imgName:"black_bishop.png",positionx:"6" , positiony:"A", owner:"player2"},
          {id:21 , name:"knight" , imgName:"black_knight.png",positionx:"2" , positiony:"A", owner:"player2"},
          {id:22 , name:"knight" , imgName:"black_knight.png",positionx:"7" , positiony:"A", owner:"player2"},
          {id:23 , name:"queen" , imgName:"black_queen.png",positionx:"4" , positiony:"A", owner:"player2"},
          {id:24 , name:"king" , imgName:"black_king.png",positionx:"5" , positiony:"A", owner:"player2"},
          {id:25 , name:"Rook" , imgName:"white_rook.png",positionx:"1" , positiony:"H", owner:"player2"},
          {id:26 , name:"Rook" , imgName:"white_rook.png",positionx:"8" , positiony:"H", owner:"player2"},
          {id:27 , name:"bishop" , imgName:"white_bishop.png",positionx:"3" , positiony:"H", owner:"player2"},
          {id:28 , name:"bishop" , imgName:"white_bishop.png",positionx:"6" , positiony:"H", owner:"player2"},
          {id:29 , name:"knight" , imgName:"white_knight.png",positionx:"2" , positiony:"H", owner:"player2"},
          {id:30 , name:"knight" , imgName:"white_knight.png",positionx:"7" , positiony:"H", owner:"player2"},
          {id:31 , name:"queen" , imgName:"white_queen.png",positionx:"4" , positiony:"H", owner:"player2"},
          {id:32 , name:"king" , imgName:"white_king.png",positionx:"5" , positiony:"H", owner:"player2"}
        ]
      }
    },
    computed:{
      selectedPiece: function(){
        var x = this.positionx
        var y = this.positiony
        var piece = this.DataPieces.filter(function(item){
           return (item.positionx == y && item.positiony == x)
         })

        if (piece != "") {
         return piece[0].imgName
        }else{
          return ""
        }
        
      }
    }

}


</script>