<template>
    <div>
        <h1>Chess</h1>
        <table id='chessboard'>
            <tr 
            :key="valueRow"
            v-for="(valueRow, index) in cells"
            >
            <chessCell
            v-for="(value,item) in 8"
            :key=item
            :positionx=valueRow
            :positiony=value
            v-on:click.native="getLocation(valueRow,value)"
            ></chessCell>
            </tr>
        </table>
        <p :v-if="message != ''">{{message}} </p>
    </div>
</template>
<script>
import chessCell from './chessCell'

export default{
    name:"chessBoard",
    components:{
      chessCell
    },
    props:{
      message:""
    },
     methods:{
      getLocation: function(x,y){
        this.message = ""
        this.message = "la posición es - " + x + " - " + y
      }
    },
    data:function(){
      return {
        cells:["A","B","C","D","E","F","G","H"]
      }
    }
}
</script>

<style scoped>
    * {
  margin: 0; 
  padding: 0; 
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

#chessboard { 
  padding: 0px; 
  margin: 0 auto; 
  border: 2px solid #181818; 
}

#chessboard tr td { 
  width: 60px; 
  height: 60px; 
}

#chessboard tr:nth-child(2n) td:nth-child(2n+1) { 
  background: #9f9f9f; 
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) { 
  background: #9f9f9f; 
} 
</style>