<template>
  <div id="app">
    <img src="./assets/logo.png" />
    <chess-board/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'
import ChessBoard from './components/ChessBoard'
export default {
  name: 'App',
  components: {
    HelloWorld,
    ChessBoard
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
